{
    "root" : true,
    "parser" : "@typescript-eslint/parser",
    "plugins" : [
        "@typescript-eslint"
    ],
    "parserOptions" : {
        "project" : ["./tsconfig.json"]
    },
    "extends" : [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "env" : {
        "node" : true
    },
    "overrides" : [
        {
            "files" : "*.js",
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ]
}